.fav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding-bottom: 5px;

  font-size: 20px;
  cursor: pointer;
}

#fav-list {
  width: 200px;
}
