:root {
  --header-height: 100px;
}
html {
  scrollbar-gutter: auto;
}
body {
  padding: 0%;
  margin: 0%;
}

#content-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
