:root {
  --header-height: 100px;
}
html {
  scrollbar-gutter: auto;
}
body {
  padding: 0%;
  margin: 0%;
}

#title-div {
  background-color: darkcyan;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding-left: 1rem;
}
#menu-btn {
  display: flex;
  font-size: 30px;
  margin-right: 1rem;
  margin-left: auto;
  cursor: pointer;
  user-select: none;
}

#menu-panel {
  position: absolute;
  text-align: end;
  padding-right: 1rem;
  min-width: 220px;
  background-color: burlywood;
  top: var(--header-height);
  right: 0rem;
  left: 0rem;
  height: calc(100svh - var(--header-height));
  box-sizing: border-box;
  user-select: none;
}

/* #menu-panel {
  position: absolute;
  min-width: 220px;
  background-color: burlywood;
  top: var(--header-height);
  right: 0rem;
  box-sizing: border-box;
  user-select: none;
} */

#search-container {
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
}

#search-button {
  padding: 5px;
}
